{% extends 'base.html' %}
{% block content %}
<h1>About The Mile</h1>
<p>Austin Margarita Mile is an interacive hunt to find the best margarita's in the central Texas area. <br>
    Anyone is able to follow along or crete an account to keep track of your own "Margarita Miles". <br>
</p>
{% endblock %}
<!-- <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Margarita Mile</title>
    </head>
    <body>
        <h1>About The Mile</h1>
    </body>
</html> -->