
{% extends 'base.html' %} {% block content %}
{% block title %}{% endblock  %}


<h1 class="title pt-5">{{header}}</h1>
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      
      </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
 
</form>
<div class="gallery">
    {% for mile in miles %}
    <a href="{% url 'mile_detail' mile.pk %}">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img src="{{mile.img}}" alt="{{mile.name}}" />
          </figure>
        </div>
        <p> Test {{mile.miles.count}}</p>
        {% for restaurant in mile.miles.all %}
        <p>{{restaurant.restaurant}}</p>
        {% endfor %}
        <div class="card-header">
          <p class="card-header-title">{{mile.name}}</p>
        </div>
      </div>
    </a>
    <div class="gallery"></div>
      {% for default in default_miles %}
        <a href="{% url 'mile_detail' mile.pk %}">
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="{{mile.img}}" alt="{{mile.title}}" />
              </figure>
            </div>
            <div class="card-header">
              <p class="card-header-title">{{mile.name}}</p>
            </div>
          </div>
        </a>
    <article class="message">
      <div class="message-header">
        <p>No Miles available</p>
      </div>
    </article>
    {% endfor %}
  </div>
  {% endfor %}

  {% endblock  %}